<div class="mws-panel grid_8">
  <div class="mws-panel-header main_header">
    <span class="mws-i-24 i-dropbox">Inventory</span>
  </div>
  <div class="mws-panel-body">
    <table class="mws-datatable-fn mws-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>On Hand</th>
            </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr class="gradeX">
                <td><%= product.name %></td>
                <td><%= product.inventory %></td>  
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
