<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization_role.name %>
</p>


<%= link_to 'Edit', edit_organization_role_path(@organization_role) %> |
<%= link_to 'Back', organization_roles_path %>
