<div class="mws-panel grid_8">
  <div class="mws-panel-header main_header">
    <span class="mws-i-24 i-group-2">Users</span>
  </div>
  <div class="mws-panel-body">
    <%= render partial: "user_table" %>
  </div>
</div>
