<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Order confirmation: order #<%= @order.id %></h1>
    <p>
      Your order has been successfully submitted! The donators have been notified and will be in contact
			to arrange pick up shortly.
    </p>
    <p>
      Thanks and have a great day!
		</p>
  </body>
</html>