// Place all the styles related to the donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quantity {
	width: 35%;
}

.date {
	width: 25%;
}

#items {
	margin: 0px;
	list-style-type: none;
}

#items li {
	margin-left: 0px;
}