// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product_shelf_life_time {
	width: 40px
}

#product_shelf_life_span {
	width: 170px;
}

.about {
	padding: 10px 20px;
	font-size: 1.4em;
}

.about h4 {
	margin-bottom: 3px;
}

.about half {
	width: 45%;
	display: inline;
}

.about .data {
	font-size: 1.4em;
}

.item .vegetable {
	color: green;
}

.item .fruit {
	color: #DB5858;
}

.options .mws-panel-body {
	padding: 10px 20px;
	font-size: 1.4em;
}

.options a {
	text-decoration: none;
}

a.mws-button.green {
	color: #333;
	text-shadow: 0px 1px #CFCFCF;
}